<% provide(:title, 'Admin user') %>
<div class="thema-text">Администрирование пользователей</div>

<div class="admin-table">
  <div>
    <%= link_to 'Новый пользователь...', new_admin_user_path, :class => 'btn btn-primary' %>
  </div>
  <table class="table table-bordered">
  	<thead>
  		<tr>
  			<th><%= sort_link @q, :id %></th>
        <th><%= sort_link @q, :created_at %></th>
  			<th><%= sort_link @q, :name %></th>
        <th><%= sort_link @q, :email %></th>
  			<th></th>
  		</tr>
  		<tbody>
        <% @users.each do |item| %>
          <tr>
          	<td><%= item.id %></td>
            <td><%= item.created_at %></td>
          	<td><%= item.name %></td>
            <td><%= item.email %></td>
            <td class="del-edit-buttons-group">
          		<%= link_to "Изменить", edit_admin_user_path(item), class: 'btn btn-mini'%>
  						<%= link_to "Удалить", admin_user_path(item), method: :delete, data: { confirm: "Вы уверены?" }, class: 'btn btn-mini btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
  	</thead>
  </table>

  <%= will_paginate @users %>
</div>